@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/background_img.jpg");
  font-family: "Roboto", "Inter", "Arial", "Helvetica", sans-serif;
}
